# ignore all .3dm and .gh files
*.3dm
*.gh

# don't ignore .3dm and .gh files in the model directory
!model/*


# ingore persnal files
working/*

# ignore design files
design/*
diagram/*

# ignore record files
record/*
!record/documentation.md


# ignore printing files
printing_file/*
demo/